<h1>Create an Article</h1>
<form method="POST" action="/articles">
<h3>Title:<input type="text" name="title"</h3>
<h3>Content:<input type="text" name="content"></h3>
<Button type="submit" value="submit">Submit</Button>
</form>